$color-main-blue: #3174e6;
$color-main-blue-hover: #285ab1;
$color-main-gray: #c2cbd9;
$color-text: #454860;
$color-text-light-grey: #c2cbd9;


$gradient_blue: linear-gradient(0deg, #1c5cc5 0%, #3578eb 100%);