@import "./src/Common/Style/Variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  min-height: 100%;
  min-width: 100%;
}
body, input, textarea, button {
  font-family: 'Open Sans', 'Segoe UI Symbol', sans-serif;
}
body{
  background: #FFF;
  background:
          linear-gradient(90deg, transparent 0%, transparent 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%),
          $gradient_blue;
  color: $color-text;
}